fastapi
uvicorn
sqlalchemy
asyncpg
pydantic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
users
pandas
numpy
scikit-learn
joblib
python-multipart
python-dotenv
httpx
pytest
feedparser
groq
